[Desktop Entry]
Categories=Network;InstantMessaging;
Comment[en_GB]=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
#Exec=/usr/bin/Discord --enable-features=UseOzonePlatform,WaylandWindowDecorations,VaapiVideoDecoder --ozone-platform=wayland --ignore-gpu-blocklist --use-gl=desktop --enable-gpu-rasterization --enable-zero-copy --disable-gpu-sandbox
Exec=/usr/bin/Discord
GenericName[en_GB]=Internet Messenger
GenericName=Internet Messenger
Icon=discord
MimeType=
Name[en_GB]=Discord
Name=Discord
Path=/usr/bin
StartupNotify=true
StartupWMClass=discord
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.26
X-KDE-SubstituteUID=false
X-KDE-Username=
