* {
    font-family: "0xProto Nerd Font Mono", regular;
    font-size: 14px;
    color: #c0caf5;
    background: transparent;
}

#waybar {
    background-color: rgba(26, 27, 38, 0.30);
    border-bottom: 1px solid #000000;
    padding: 4px 10px;
    margin: 5px;
}

#custom-notification {
    font-size: 18px;
    margin: 5px;
    padding: 2px 5px;
}

#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#temperature {
    padding: 10px;
}

#network,
#pulseaudio,
#memory,
#temperature {
    border-right: 1px solid #444444;
}

#clock {
}

#window {
    padding: 0 5px;
    font-weight: 600;
}

#battery {
    color: #c0caf5;
    background: transparent;
    margin: 5px;
    padding: 2px 5px;
}

#custom-launcher {
    color: white;
    padding: 0 10px 0 13px;
    font-size: 23px;
}

#custom-text {
    padding-left: 1px;
    font-weight: 600;
}

#custom-texttwo,
#custom-textthree,
#custom-textfour,
#custom-textfive {
    font-size: 13px;
    padding-left: 20px;
    color: white;
}

#image.ethernetart {
    color: white;
}

#custom-date {
}

tooltip {
    background-color: #24283b;
    border: none;
}

tooltip label {
    background-color: #24283b;
    color: #c0caf5;
    border-radius: 1px;
    margin: 1px;
}
